{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@core": "./src/core",
          "@modules": "./src/modules"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
